@font-face {font-family: "Flaticon";src: url("flaticon.eot");src: url("flaticon.eot#iefix") format("embedded-opentype"),url("flaticon.woff") format("woff"),url("flaticon.ttf") format("truetype"),url("flaticon.svg") format("svg");font-weight: normal;font-style: normal;}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {font-family: Flaticon;font-style: normal;margin-left: 20px;}
.flaticon-architecture:before {content: "";}
.flaticon-award18:before {content: "";}
.flaticon-barrier4:before {content: "";}
.flaticon-board2:before {content: "";}
.flaticon-business112:before {content: "";}
.flaticon-businessman118:before {content: "";}
.flaticon-businessman98:before {content: "";}
.flaticon-city21:before {content: "";}
.flaticon-comment12:before {content: "";}
.flaticon-construction10:before {content: "";}
.flaticon-construction11:before {content: "";}
.flaticon-construction14:before {content: "";}
.flaticon-construction16:before {content: "";}
.flaticon-construction17:before {content: "";}
.flaticon-construction4:before {content: "";}
.flaticon-constructor7:before {content: "";}
.flaticon-crane8:before {content: "";}
.flaticon-diploma20:before {content: "";}
.flaticon-engineer:before {content: "";}
.flaticon-engineer1:before {content: "";}
.flaticon-first:before {content: "";}
.flaticon-first33:before {content: "";}
.flaticon-house158:before {content: "";}
.flaticon-logistics3:before {content: "";}
.flaticon-man269:before {content: "";}
.flaticon-modern13:before {content: "";}
.flaticon-plan:before {content: "";}
.flaticon-rounded45:before {content: "";}
.flaticon-silence1:before {content: "";}
.flaticon-sports27:before {content: "";}
.flaticon-symbolic2:before {content: "";}
.flaticon-truck30:before {content: "";}
.flaticon-winner11:before {content: "";}